@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-blue-1: #e3ebf8;
  --gradient-blue-2: #f1f4fb;
  --primary: 217 92% 60%;
  --background: 223 54% 97%;
  --foreground: 0 0% 100%;
  --muted: 210 10% 95%;
  --text: 217 92% 14%; /*#202124*/
  --text-light: 210 10% 51%;
  --text-icon: #696969;
  --text-muted: #e9ebed;
  --border: #ecedf2;

  /* BUTTONS */
  --primary-btn-bg: #3a81f7;
  --primary-btn-bg-hover: #1967d2;
  --primary-btn-text: #fff;
  --secondary-btn-bg: #dfe7f7;
  --secondary-btn-text: #3a81f7;
}

@layer base {
  body {
    @apply bg-background text-text-primary;
  }
}

@layer utilities {
  .bounce {
    animation: bounce 6s infinite ease-in-out;
  }

  .bounce-reverse {
    animation: bounce-reverse 6s infinite ease-in-out;
  }
}

/* Create animation */

@keyframes bounce {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes bounce-reverse {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0%);
  }
}
