@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-blue-1: #e4ecf8;
  --gradient-blue-2: #f1f4fb;
  --primary: 217 92% 60%;
  --background: 223 54% 97%;
  --foreground: 0 0% 100%;
  --footer: 231 76% 95%;
  --muted: 210 10% 95%;
  --text: 217 92% 14%; /*#202124*/
  --text-light: 210 10% 51%;
  --text-icon: #696969;
  --text-muted: #e9ebed;
  --border: 230 10% 88%;

  /* BUTTONS */
  --primary-btn-bg: #3a81f7;
  --primary-btn-bg-hover: #2272f6;
  --primary-btn-text: #fff;
  --secondary-btn-bg: #dfe7f7;
  --secondary-btn-text: #3a81f7;

  --destructive-foreground: 0 71% 43%;
  --destructive-background: 0 83% 95%;

  --success: 123 38% 57%;
  --warning: 36 100% 57%;

  /* Sizes */
  --navbar-height: 64px;
  --dashboard-sidebar-width: 280px;

  /* DASHBOARD STATS CARDS */
  --bg-card-1: hsl(217 92% 95%);
  --text-card-1: hsl(217 92% 60%);
  --bg-card-2: hsl(136, 53%, 95%);
  --text-card-2: hsl(136, 53%, 43%);
  --bg-card-3: hsl(41 100% 95%);
  --text-card-3: hsl(41 100% 49%);
  --bg-card-4: hsl(4 71% 95%);
  --text-card-4: hsl(4 71% 50%);

  --chart-bg: #3b83f7;
  --chart-border: #3a81f7;

  --input-placeholder: 218 11% 66%;

  --doughnut-chart-applied-bg: #3a81f7;
  --doughnut-chart-applied-border: #3a81f7;
  --doughnut-chart-rejected-bg: #f44336;
  --doughnut-chart-rejected-border: #f44336;
  --doughnut-chart-hired-bg: #4caf50;
  --doughnut-chart-hired-border: #4caf50;
}

@layer base {
  body {
    @apply bg-background text-text-primary;
  }
}

@layer utilities {
  .bounce {
    animation: bounce 6s infinite ease-in-out;
  }

  .bounce-reverse {
    animation: bounce-reverse 6s infinite ease-in-out;
  }
}

@keyframes bounce-reverse {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0%);
  }
}

@layer components {
  /* Custom bullet style */
  .custom-bullet {
    width: 8px;
    height: 8px;
    background-color: #ddd;
    border-radius: 99px;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  /* Active bullet style */
  .custom-bullet-active {
    width: 40px;
    background-color: hsl(var(--text));
  }
}

/* ANIMATIONS */

@keyframes bounce {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0%);
  }
}

.ck.ck-sticky-panel {
  border-radius: 8px 8px 0 0 !important;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
  border-radius: 0 0 8px 8px !important;
}

.ck-focused {
  border-radius: 0 0 8px 8px !important;
}
