@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-blue-1: #e3ebf8;
  --gradient-blue-2: #f1f4fb;
  --primary: #1967d2;
  --background: #f5f7fc;
  --text: #202124;
  --text-light: #77838f;
  --text-muted: #e9ebed;

  /* BUTTONS */
  --primary-btn-bg: #1967d2;
  --primary-btn-text: #fff;
  --secondary-btn-bg: #dfe7f7;
  --secondary-btn-text: #1967d2;
}

@layer base {
  body {
    @apply text-[var(--text)];
  }
}
